body {
  background-color: #CCCCCC;
}

h1 {
  font-family: Georgia, serif;
  font-size: 2em;
  color: white;
  text-allign: center;
}

p {
  font-family: Lucida Console, sans-serif;
}
.list {
  background-color: dark-grey;
}
