body {
  background-color: #CCCCCC;
}

h1 {
  font-family: Georgia, serif;
  font-size: 2em;
  color: gray;
  text-allign: center;
}

p {
  font-family: Lucida Console, sans-serif;
}
.lists {
  background-color: gray;
}
